:root {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: black;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.start, .flex, .end {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    background-color: white;
    width: 20px;
    height: 500px;
}

.flex {
    background-color: blue;
}

.end {
    background-color: red;
}

.small_disk, .medium_disk, .big_disk {
    background-color: yellow;
    width: 100px;
    height: 50px;
    border: 2px solid red;
}

.medium_disk {
    width: 150px;
}

.big_disk {
    width: 200px;
}

.select {
    padding: 5px 8px;
}